@import url('https://fonts.bunny.net/css2?family=Inter:wght@500;600;700&family=Source+Sans+3:wght@400;500;600&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import './theme.css';